.App {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 100px auto;
  grid-template-areas: "s s"
                       "d l";
}

.search-bar {
  grid-area: s;
  margin: 0 auto;
  margin-top: 30px;
}

.search-bar input {
  width: 500px;
  height: 40px;
  text-indent: 5px;
  border: 1px solid #eee;
  border-radius: 20px;
}

.vedio_details {
  grid-area: d;
  display: flex;
  left: 20px;
  flex-direction: column;
  margin-left: 30px;
  margin-top: 15px;
}

.video_descriptions {
  margin-top: 10px;
  padding: 15px;
  border: 1px solid #eee;
  box-shadow: 0 2px 2px -2px grey;
}

.vedio_list {
  grid-area: l;
  display: flex;
  flex-direction: column;
}

.iframe {
  width: 751px;
  height: 422px;
  left: 0px;
  top: 0px;
  box-shadow: 0 2px 2px -2px grey;
}

.vedio_item {
  display: flex;
  flex-direction: row;
}

.video_title p {
  font-size: 14px;
  margin-top: 0;
  margin-left: 10px;
}

.video_image {
  width: 168px;
  height: 94px;
}

.list_item {
  list-style: none;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #eee;
  box-shadow: 0 2px 2px -2px grey;
  width: 350px;
}

.list_item :hover{
  background: #eee;
}
